*{
    margin: 0; 
    padding: 0;
}

h1{
    text-align: center;
}

.container{
    width: 900px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}


.box{
    border:1px solid black; 
}

button{
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 8px;
}


