*{
    margin: 0; 
    padding: 0;
}

h1{
    text-align: center;
}

.container{
    max-width: 900px;
    max-height: 500px;
    margin: auto;
    margin-top: 50px;
}

.row{
    display: flex;
    
}

.box{
    height: 1em;
    border:1px solid black; 
    flex: 1;
}

button{
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 8px;
}


